In [2]:
import os
from pathlib import Path
indir = Path('/home/tayu/seqdata/tao/circRNA_seq/circapp/20230720/20230901_LH00320_0022_A227Y7YLT3')
indir2 = Path('/home/tayu/seqdata/tao/circRNA_seq/circapp/igm-storage.ucsd.edu/230517_A01535_0329_BH75WTDSX7/')

rar11 enriched, different cell lines

In [3]:
fq1 = list(indir.glob('RIP*R1*.fastq.gz'))+list(indir.glob('IGF2*R1*.fastq.gz'))

In [5]:
fq2 = [str(f).replace('R1', 'R2') for f in fq1]

In [7]:
fq1_2 = list(indir2.glob('*RIP*R1*.fastq.gz'))
fq2_2 = [str(f).replace('R1', 'R2') for f in fq1_2]

In [8]:
libs = [f.name.split('_S')[0] for f in fq1]
libs2 = [f.name.split('_S')[0] for f in fq1_2]

In [9]:
sorted(libs), sorted(libs2)

(['IGF2BP3RIP1',
  'IGF2BP3RIP2',
  'IGF2BP3RIP3',
  'RIP_input1',
  'RIP_input2',
  'RIP_input3'],
 ['IGF2BP3_RIP', 'RIP_input'])

In [10]:
import pandas as pd
manifest = pd.DataFrame([fq1, fq2, libs], index = ['fastq1', 'fastq2','Sample']).T

manifest2 = pd.DataFrame([fq1_2, fq2_2, libs2], index = ['fastq1', 'fastq2','Sample']).T

In [11]:
manifest['Rnase'] = True # all are rar11 samples
manifest2['Rnase'] = True # all are rar11 samples

In [12]:
manifest

,fastq1,fastq2,Sample,Rnase
0,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,RIP_input1,True
1,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,RIP_input3,True
2,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,RIP_input2,True
3,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,IGF2BP3RIP3,True
4,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,IGF2BP3RIP2,True
5,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,/home/tayu/seqdata/tao/circRNA_seq/circapp/202...,IGF2BP3RIP1,True

In [13]:
manifest.applymap(os.path.isfile)

   fastq1  fastq2  Sample  Rnase
0    True    True   False  False
1    True    True   False  False
2    True    True   False  False
3    True    True   False  False
4    True    True   False  False
5    True    True   False  False

In [14]:
manifest2.applymap(os.path.isfile)

   fastq1  fastq2  Sample  Rnase
0    True    True   False  False
1    True    True   False  False

In [15]:
# turns out to be single ended. cannot run current pipeline
manifest.to_csv('nextera_iter10_IGF2BP3_RIP.csv')
manifest2.to_csv('nextera_iter6_IGF_RIP_rar11.csv')