In [1]:
import os
from pathlib import Path
indir = Path('/home/tayu/seqdata/tao/circRNA_seq/rar_celllines/batch2/igm-storage.ucsd.edu/20230922_LH00320_0040_A22F25LLT3')
indir2 = Path('/home/tayu/seqdata/tao/circRNA_seq/circstamp_sort/')

rar11 enriched, different cell lines

In [2]:
fq1 = list(indir.glob('*sort*R1*.fastq.gz'))
fq2 = [str(f).replace('R1', 'R2') for f in fq1]

In [5]:
fq1_2 = list(indir2.glob('*sort_rar11*/*R1*.fastq.gz'))
fq2_2 = [str(f).replace('R1', 'R2') for f in fq1_2]

In [6]:
libs = [f.name.split('_sort')[0] for f in fq1]
libs2 = [f.name.split('_sort')[0] for f in fq1_2]

In [7]:
sorted(libs), sorted(libs2)

(['APOBEC1only', 'RBM15_STAMP', 'YTHDF2_STAMP'], ['IGF2BP2', 'U2AF2'])

In [8]:
import pandas as pd
manifest = pd.DataFrame([fq1, fq2, libs], index = ['fastq1', 'fastq2','Sample']).T
manifest2 = pd.DataFrame([fq1_2, fq2_2, libs2], index = ['fastq1', 'fastq2','Sample']).T

In [9]:
manifest['Rnase'] = True # all are rar11 samples
manifest2['Rnase'] = True # all are rar11 samples

In [10]:
manifest

,fastq1,fastq2,Sample,Rnase
0,/home/tayu/seqdata/tao/circRNA_seq/rar_celllin...,/home/tayu/seqdata/tao/circRNA_seq/rar_celllin...,RBM15_STAMP,True
1,/home/tayu/seqdata/tao/circRNA_seq/rar_celllin...,/home/tayu/seqdata/tao/circRNA_seq/rar_celllin...,YTHDF2_STAMP,True
2,/home/tayu/seqdata/tao/circRNA_seq/rar_celllin...,/home/tayu/seqdata/tao/circRNA_seq/rar_celllin...,APOBEC1only,True

In [11]:
manifest.applymap(os.path.isfile)

   fastq1  fastq2  Sample  Rnase
0    True    True   False  False
1    True    True   False  False
2    True    True   False  False

In [12]:
manifest2.applymap(os.path.isfile)

   fastq1  fastq2  Sample  Rnase
0    True    True   False  False
1    True    True   False  False

In [13]:
# turns out to be single ended. cannot run current pipeline
manifest.to_csv('nextera_iter13_RBM15_U2AF_STAMP.csv')
manifest2.to_csv('nextera_iter5_IGF_U2_rar11.csv')

In [14]:
manifest['fastq1'].eq(manifest['fastq2'])

0    False
1    False
2    False
dtype: bool

In [15]:
manifest2['fastq1'].eq(manifest2['fastq2'])

0    False
1    False
dtype: bool